.textInput {
    display: flex;
    border: none;

    width: 100%;
    height: 100%;
    font-size: 12px;
    font-weight: 400;
    color: darkgray;

    overflow: hidden;

    &:focus {
        border: none;
        outline: none;
    }
}
