.entireWrapper {
    display: flex;
    flex-direction: row;
}

.sideBarWrapper {
    position: absolute;
    width: 280px;
    height: 100vh;

    transform: translateX(0%);
    transition: transform 0.6s ease;
}

.sideBarWrapper.closed {
    transform: translateX(-100%);
}

.childrenWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}